@charset "utf-8";

*{
    box-sizing:border-box;
}
footer, article, header{
    border:1px solid black;
}
main{
    width:800px;
    margin:auto;
}
img{
    width:100%;
    padding:5px;
}
article{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
header{
    text-align:center;
}
footer{
    text-align:center;
}